.header {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 30px;
    margin: 0;
    position: sticky;
}

.header__nav {
    display: flex;
    align-items: center;
    text-align: center;
}

.header__nav a {
    margin-right: 30px;
    text-decoration: none;
    color: white;
    display: inline;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.header__logo {
    text-transform: uppercase;
    letter-spacing: 3px;
}