.App {
  display: flex;
  flex-direction: column;
  width: 800px;
  margin: 0 auto;
  margin-top: 20px;
}

article {
  padding: 10px;
  background-color: whitesmoke;
  margin-top: 7px;
}

article > p {
  padding: 10px;
}
